@import url(./reset.css);
body {
  font-family: -apple-system, Helvetica, sans-serif;
  box-sizing: border-box; }
  body h1 {
    font-size: 0; }
  body .wrapper {
    width: 90%;
    min-width: 800px;
    margin: 1.25rem auto;
    display: flex;
    justify-content: space-between; }
  body .product {
    padding: 1rem;
    padding-right: 2.5rem;
    border-right: 1px solid #eee; }
    body .product-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      text-align: center; }
    body .product-item {
      padding: 0.5rem;
      position: relative;
      border-radius: 4px; }
      body .product-item .item-index {
        position: absolute;
        font-size: 0.875rem;
        color: #888;
        font-weight: bold;
        top: 1rem;
        left: 1rem; }
      body .product-item .item-name,
      body .product-item .item-price {
        display: block; }
      body .product-item .item-name {
        width: 80px;
        height: 55px;
        border: 2px solid #eee;
        border-radius: 8px;
        padding-top: 25px;
        margin-bottom: 0.5rem;
        font-size: 2rem; }
      body .product-item .selected {
        background-color: #f6a615; }
      body .product-item .item-price {
        font-weight: bold; }
  body .selector {
    border: 1px solid yellowgreen; }
  body .wallet {
    border: 1px solid yellowgreen; }
