@import "./reset.css";
$grey: #eee;
$grey-shadow: #888;

body {
  font-family: -apple-system, Helvetica, sans-serif;
  box-sizing: border-box;
  h1 {
    font-size: 0;
  }
  .wrapper {
    width: 90%;
    min-width: 800px;
    margin: 1.25rem auto;
    display: flex;
    justify-content: space-between;
  }
  .product {
    padding: 1rem;
    padding-right: 2.5rem;
    border-right: 1px solid $grey;
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      text-align: center;
    }
    &-item {
      padding: 0.5rem;
      position: relative;
      border-radius: 4px;
      .item-index {
        position: absolute;
        font-size: 0.875rem;
        color: $grey-shadow;
        font-weight: bold;
        top: 1rem;
        left: 1rem;
      }
      .item-name,
      .item-price {
        display: block;
      }
      .item-name {
        width: 80px;
        height: 55px;
        border: 2px solid $grey;
        border-radius: 8px;
        padding-top: 25px;
        margin-bottom: 0.5rem;
        font-size: 2rem;
      }
      .selected {
        background-color: #f6a615;
      }
      .item-price {
        font-weight: bold;
      }
    }
  }
  .selector {
    border: 1px solid yellowgreen;
  }
  .wallet {
    border: 1px solid yellowgreen;
  }
}
