@import "./reset.css";

body {
  font-family: -apple-system, sans-serif;
  box-sizing: border-box;
  border: 1px solid red;
  height: 100vh;
  h1 {
    font-size: 0;
  }
  .wrapper {
    width: 90%;
    min-width: 800px;
    margin: 0 auto;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
  }
  .product {
    border: 1px solid yellowgreen;
    padding: 1rem;
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      text-align: center;
    }
    &-item {
      padding: 0.5rem;
      position: relative;
      background-color: #eee;
      border: 1px solid #bbb;
      border-radius: 4px;
      width: 5rem;
      .item-index {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
      }
      .item-name,
      .item-price {
        display: block;
      }
      .item-name {
        margin-top: 1.5rem;
        font-size: 2rem;
      }
      .item-price {
        margin-top: 0.5rem;
      }
    }
  }
  .selector {
    border: 1px solid yellowgreen;
  }
  .wallet {
    border: 1px solid yellowgreen;
  }
}
