@import "./reset.css";
$grey: #eee;
$grey-shadow: #ccc;

body {
  font-family: -apple-system, sans-serif;
  box-sizing: border-box;
  border: 1px solid red;
  h1 {
    font-size: 0;
  }
  .wrapper {
    width: 90%;
    min-width: 800px;
    margin: 20px auto;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
  }
  .product {
    border: 1px solid yellowgreen;
    padding: 1rem;
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      text-align: center;
    }
    &-item {
      padding: 0.5rem;
      position: relative;
      border-radius: 4px;
      .item-index {
        position: absolute;
        font-size: 0.875rem;
        font-weight: bold;
        top: 1rem;
        left: 1rem;
      }
      .item-name {
        display: block;
      }
      .item-name {
        width: 80px;
        height: 55px;
        border: 1px solid $grey;
        border-radius: 8px;
        padding-top: 25px;
        margin-bottom: 0.625rem;
        font-size: 2rem;
      }
      .item-circle,
      .item-price {
        display: inline-block;
      }
      .item-circle {
        float: left;
        width: 0.875rem;
        height: 0.875rem;
        border-radius: 0.5rem;
        transform: translate(0.9rem, -1px);
        background-color: $grey-shadow;
      }
      .selected {
        background-color: red;
        filter: blur(1px);
      }
      .item-price {
        float: right;
        padding-right: 0.9rem;
      }
    }
  }
  .selector {
    border: 1px solid yellowgreen;
  }
  .wallet {
    border: 1px solid yellowgreen;
  }
}
